<%- include('../partials/start.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
<%- include('../partials/head-end.ejs') %>
<%- include('../partials/nav.ejs') %>

<section class="container-fluid container my-5 h-80 d-flex flex-column justify-content-center align-items-center">
  <section class="vw-90 text-center">
  <h2>#newhunter</h2>
  <p>You will like it here.</p>
  </section>

  <%- include('../partials/notification.ejs') %>

  <section id="form-details" class="container w-50 border p-5">
    <form action="/auth/register" method="post">
      <div class="text-center">
          <span>Sign Up</span>
          <h2>Welcome, become a hunter!</h2>
      </div>

      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
        name="email"
        placeholder="Enter your email" required>
      </div>

      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" pattern="\S.{4,}\S" placeholder="Password should not be less than 6 characters" required>
      </div>

      <div class="form-group mb-2">
        <label for="role">Account Type?</label>
        <select name="role" id="" class="form-select">
            <option value="student">Student</option>
            <option value="lecturer">Lecturer</option>
        </select>
      </div>

      <div class="text-center d-grid">
        <button type="submit" class="btn btn-primary mt-2">Register</button>
      </div>
    </form>
    <p class="mt-2 text-end">
      Already have an account? <a href="/auth/signin">Sign In</a>
    </p>
  </section>
</section>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/end.ejs') %>