<%- include('./partials/start.ejs') %>
<%- include('./partials/head-end.ejs') %>

    <%- include('./partials/nav.ejs') %>
    <section id="feature" class="container p-5">
        <%- include('../partials/notification.ejs') %>
        <div class="display-1">Welcome to homepage</div>
    </section>


    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/end.ejs') %>